server:
  port: 9090

spring:
  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:h2:mem:foodsdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  spring:
    jpa:
      open-in-view: false
      hibernate:
        ddl-auto: update

